@charset "UTF-8";
/* CSS Document */

* {
	margin:auto;
}

@font-face {
  font-family: 'sentyTEA';
  src:url('../font/SentyTEA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Bradley Hand ITC';
	src:url('../font/BRADHITC.TTF') format('truetype');
	font-weight:normal;
	font-style: normal;
}

#wrapper {
	width:960px;
	height:250px;
	background-color: rgba(242,185,185,1.00);
}

#english {
	position:absolute;
	padding: 0 0 0 0;
	color: #fff;
	margin: 215px auto 10px 50px;
	font-family: Bradley Hand ITC;
	font-size:19px;
	font-weight: 200;
}

#chinese {
	position:absolute;
	padding: 0 0 0 0;
	color: #fff;
	margin: 220px auto 10px 130px;
	font-family: 'sentyTEA';
	font-size:18px;
	font-weight: 100;
}
#my-senior-year {
	position:absolute;
	padding: 0 0 0 0;
	color: #fff;
	margin: 95px auto 125px 310px;
	font-family: 'sentyTEA';
	font-size:80px;
	font-weight: 100;
	letter-spacing: 20px;
}

#badminton {
	width:960px;
	height:350px;
	background-color: rgba(249,172,172,1.00);
	position:relative;
}

#badminton-pic {
	position:absolute;
	margin:35px 48px;
}
.picture-frame-on-left {
	width:416px;
	height:350px;
	margin:0;
	padding:0;
	position:absolute;
	background-color: rgba(255,255,255,0.65);
}

.text-on-right {
	width:544;
	height:auto;
	margin: 38px 40px 8px 460px;
	position:absolute;
	padding: 0;
	float:right;
	color: #fff;
	font-family: 'sentyTEA';
	font-size:19px;
	line-height:1.4;
}

#text-on-right {
	width:544;
	height:auto;
	margin: 33px 40px 8px 460px;
	position:absolute;
	padding: 0;
	float:right;
	color: #fff;
	font-family: 'sentyTEA';
	font-size:19px;
	line-height:1.35;
}
#AP-classes {
	width:960px;
	height:350px;
	background-color: #FFD1D1;
	position:relative;
	padding:0;
	display:block;
	overflow:hidden;
}

.picture-frame-on-right {
	width:416px;
	height:350px;
	margin-left:544px;
	padding:0;
	position:absolute;
	background-color: rgba(255,255,255,0.65);
}

video {
	width:380px;
	position:absolute;
	margin:50px 20px;
}

#video-caption{
	color:#F9ACAC;
	font-family: 'sentyTEA';
	font-weight:bold;
	font-size:15px;
	padding:0;
	margin-top:275px;
	margin-left:20px;
	position:absolute;
	letter-spacing:1px;
}

.text-on-left {
	width:544;
	height:auto;
	margin:38px 460px 8px 40px;
	position:absolute;
	padding: 0;
	float:right;
	color: #F06464;
	font-family: 'sentyTEA';
	line-height:1.4;
	font-size:19px;
}

#fresno {
	width:960px;
	height:350px;
	background-color: #F9ACAC;
	position:relative;
}

.link {
	text-decoration:underline;
	font-style:italic;
	color:#fff;
}

#footer {
	position:relative;
	margin:auto;
	display:block;
	width:960px;
	height:100px;
	background-color: #fff;
}

#footer-paragraph {
	margin:auto;
}
#footer p {
	color:#F9ACAC;
	font-size:19px;
	font-weight:600;
	margin: 38px 20px auto 310px;
	position:absolute;
	width:400px;
	font-family: 'sentyTEA';
}

#pink-houses {
	position:absolute;
	margin: 10px 10px 0 600px;
}

.bottom-slides{
	display:none;
	margin: 35px auto auto 48px;
	position:absolute;
}

.text {
	color:#F9ACAC;
	font-family: 'sentyTEA';
	font-weight:bold;
	font-size:15px;
	padding:5px;
	margin-top:-3px;
	position:absolute;
	letter-spacing:0.5px;
}

.prev {
	color:#F9ACAC;
	top:40%;
	position:absolute;
	left:10px;
	font-weight:bold;
	padding: 10px 10px;
	font-size: 18px;
}

.next {
	color:#F9ACAC;
	top:40%;
	position:absolute;
	right:10px;
	font-weight:bold;
	padding: 10px 10px;
	font-size: 18px;
}


.prev:hover, .next:hover{
	background: rgba(255,209,209,0.68);
	cursor:pointer;
	border-radius: 5px;
}

.slide-dots {
	text-align:right;
	margin-right:48px;
	margin-top:273px;
}

.dots {
	width: 6px;
	height: 6px;
	display: inline-block;
	background: rgba(249,172,172,0.46);
	padding: 3px;
	border-radius: 6px;
	cursor:pointer;
}

.fade {
	animation-name:fade;
	animation-duration:.8s;	
}

@keyframes fade{
	from{opacity:0.1}
	to{opacity:1}
}
.active,.dots:hover {
	background:rgba(249,172,172,0.90);
}

#icon {
	position:absolute;
	margin: 35px auto auto 150px;
}

#icon a img{
	padding:3px;
}
/* please visit https://www.youtube.com/watch?v=7ZO2RTMNSAY to work on the js part, begin at 16:31 */

