@charset "UTF-8";
/* CSS Document */

#wrapper {
	width:960px;
	height:250px;
	background-color: rgba(242,185,185,1.00);
}

#my-senior-year {
	position:absolute;
	padding: 0 0 0 0;
	color: #fff;
	margin: 60px 0 125px 215px;
	font-family: Edwardian Script ITC;
	font-size:110px;
	font-weight: 200;
	transform: scale(1.1,1);
}

#badminton {
	width:960px;
	height:350px;
	background-color: #F9ACAC;
	position:relative;
}

.picture-frame-on-left {
	width:416px;
	height:350px;
	margin:0;
	padding:0;
	position:absolute;
	background-color: rgba(255,255,255,0.65);
}

.text-on-right {
	width:544;
	height:auto;
	margin: 15px 50px 0 460px;
	position:absolute;
	padding: 0;
	float:right;
	color: #fff;
	font-family: Bradley Hand ITC;
}

#AP-classes {
	width:960px;
	height:350px;
	background-color: #FFD1D1;
	position:relative;
	margin:0;
	padding:0;
	display:block;
	overflow:hidden;
}

.picture-frame-on-right {
	width:416px;
	height:350px;
	margin-left:544px;
	padding:0;
	position:absolute;
	background-color: rgba(255,255,255,0.65);
}

.text-on-left {
	width:544;
	height:auto;
	margin: 15px 460px 0 50px;
	position:absolute;
	padding: 0;
	float:right;
	color: #F06464;
	font-family: Bradley Hand ITC;
}
